body {
	font-family: "Open Sans";
}


/* -------------- CSS CLEANERS -------------- */

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.nospace {
	font-size: 0;
}

/* -------------- WRAPPER -------------- */

.content-wrapper {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

/* -------------- LOGO -------------- */

.logo {
	display: block;
	float: left;

}
.logo a {
	display: block;
	width: 150px;
	height: 55px;
	font-size: 38px;
	color: #494949;
	text-decoration: none;
	text-align: center;
	line-height: 47px;
	box-sizing: border-box;
	border: 4px solid #706b73;
}

/* -------------- SEARCH BLOCK -------------- */

.search {
	display: block;
	float: right;
	font-size: 0;
}
.search input {
	vertical-align: top;
}
.search input[type=search]{
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	border-right: none;
	height: 32px;
	width: 160px;
	font-family: tahoma;
	font-size: 12px;
	padding: 9px;
	color: #b2b2b2;
}

.search input[type=submit]{
	width: 40px;
	height: 32px;
	color: white;
	text-transform: uppercase;
	background-color: #29c5e6;
	line-height: 30px;
	text-align: center;
	border: none;
	font-size: 14px;
	outline: none;
	font-family: 'Oswald';
}

/* -------------- MAIN MENU BLOCK -------------- */

.main-menu {
	display: block;
	font-size: 0;
}

.main-menu li {
	display: inline-block;
	box-sizing: border-box;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	color: #b2b2b2;
	font-size: 14px;
	width: 120px;
	height: 40px;
}
.main-menu li:first-child{
	border-left: 1px solid #e7e7e7;
}
.main-menu li:last-child{
	border-right: 1px solid #e7e7e7;
}
.main-menu li a {
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;
	line-height: 39px;
	background-color: #f3f3f3;
}
li.main-menu-active a, .main-menu li a:hover {
	background-color: #29c5e6;
	color: white;
}

.grey-big-container {
	display: block;
	width: 100%;
	background-color: #f5f5f5;
}

.white-big-container {
	display: block;
	width: 100%;
	background-color: #fff;
}

.red-text {
	color: #fc6f4e;
}

.header {
	display: block;
	padding-top: 80px;
	margin-right: 15px;
	margin-left: 15px;
}
.menu-big-button {
	display: block;
	float: right;
	cursor: pointer;

}
.menu-big-button hr {
	margin: 0;
	padding: 0;
	width: 30px;
	border: 2px solid #706b73;
	margin-bottom: 4px;
}
.header-text {
	display: block;
	margin: 0;
	padding: 0;
	padding-top: 145px;
	padding-bottom: 110px;
	text-align: center;
	color: #000;
}
.header-text-grey {
	color: #6b6b6b;
}
.header-text h2 {
	font-size: 50px;
	margin-bottom: 35px;
	font-weight: 400;
	text-transform: capitalize;

}
.header-text p {
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
}
.send-message {
	display: inline-block;
	width: 375px;
	height: 385px;
	background-color: white;
	padding: 20px 40px;
	margin: 0;
	box-sizing: border-box;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}
.send-message h3 {
	display: block;
	width: 100%;
	font-size: 20px;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 30px;
}
.send-message-name {
	display: block;
	width: 100%;
	height: 30px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 2px solid #c7c7c7;
	font-size: 15px;
	color: #c7c7c7;
}

.send-message-mail {
	display: block;
	width: 100%;
	height: 30px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 2px solid #c7c7c7;
	font-size: 15px;
	color: #c7c7c7;
}

.send-message-text {
	display: block;
	width: 100%;
	height: 85px;
	margin-bottom: 20px;
	border: none;
	border-bottom: 2px solid #c7c7c7;
	font-size: 15px;
	color: #c7c7c7;
}
.send-message-button {
	width: 236px;
	height: 53px;
	background-color: #ff5c36;
	border: none;
	border-radius: 27px;
	color: #fff;
	font-size: 16px;
	margin-left: 30px;
	box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08);
}

.wp-blocks {
	width: 100%;
	margin-bottom: 100px;
	text-align: center;
}

.wp-single-block {
	display: inline-block;
	width: 245px;
	margin: 0 2% 0 2%;
	text-align: center;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	height: 264px;
	margin-bottom: 55px;
}

.wp-single-block:hover {
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

.color-sky {
	background-color: #4eb2f7;
}
.color-violet {
	background-color: #c049f8;
}
.color-blue {
	background-color: #817eff;
}
.color-red {
	background-color: #f74770;
}

.wp-button {
	display: inline-block;
	width: 230px;
	height: 54px;
	background-color: #fff;
	color: black;
	font-size: 16px;
	font-family: "open sans";
	border: none;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	text-align: center;
	line-height: 54px;
}
.wp-button:hover {
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

.wp-block-img {
	display: inline-block;
	margin-top: 54px;
	margin-bottom: 22px;
	width: 100%;
}

.wp-block-img img {
	width: 42px;
	height: 42px;
}

.wp-head-text {
	display: inline-block;
	width: 100%;
	color: #fff;
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 600;
	font-family: "Open Sans";
}
.wp-text {
	display: inline-block;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 300;
	padding: 27px;
	color: #fff;
	line-height: 22px;
}

.fw-galery {
	width: 100%;
	padding-bottom: 170px;
}
.fw-galery-list {
	width: inherit;
	display: block;
	text-align: center;
}
.fw-galery-item {
	display: inline-block;
	width: 360px;
	height: 360px;
	margin: 0 15px 24px 15px;
	background-color: #ff5c36;
}

.swp-switcher-item {
	display: block;
	width: 98px;
	height: 92px;
	background-color: #fbfbfb;
	margin-bottom: 5px;
	text-align: center;
}
.swp-switcher-item:hover {
	background-color: #fff;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}
.swp-switcher-item img{
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
}

.swp-switcher-list {
	display: block;
}
.swp-switcher {
	display: inline-block;
	width: 10%;
	margin: 0 15px 0 15px;
}
.swp-slider {
	display: inline-block;
	width: 80%;
	padding-left: 30px;
	padding-right: 30px;
	vertical-align: top;
}
.swp-article-header {
	font-weight: 300;
	font-family: "Open Sans";
	font-size: 30px;
	text-transform: capitalize;
	
}
.swp-article-header:after {
	content: '';
	display: block;
	border: 1px solid #ff5c36;
	width: 60px;
	margin-top: 15px;
}
.swp-slide-article {
	vertical-align: top;
	display: inline-block;
	width: 63%;
	padding-left: 50px;
	padding-right: 25px;
	box-sizing: border-box;
	text-align: justify;
}
.swp-slide-img {
	display: inline-block;
	margin-left: 10%;
	width: 27%;
}
.swp-slide-article p{
	display: inline-block;
	font-weight: 300;
	font-family: "Open Sans";
	font-size: 16px;
	color: #000;
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 25px;
}